.grid {
  border: 1px solid black;
}

.colored {
  background-color: lightgray;
}

.container {
  border: 3px double black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(var(--size), 1fr) / repeat(var(--size), 1fr);
}
